@model IEnumerable<QUANGWADTHI.Models.Exam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/About.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.examSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facully)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.examSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classroom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facully)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
